/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Generics */

.container{
    max-width: 1080px;
    margin: 0 auto;
    justify-content: center;
}

div > div {
    border: 2px dashed black;
}

section{
    padding: 60px;
}

footer{
    background-color: black;
    padding: 10px;
}

.button{
    flex-basis: 5%;
    background-color: salmon;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

/* Utils */

.flex{
    display: flex;
}

.bg-white{
    background-color: white;
}

.bg-lightgrey{
    background-color: lightgrey;
}

.breakline{
    border: 1px solid white;
    margin-top: 25px;
}

/* Nav */

nav{
    padding: 10px;
    margin-bottom: 50px;
}

.center-nav{
    flex-basis: 50%;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    gap: 30px;
    font-weight: 600;
}

.logo{
    width: 100px;
}

.login-button{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

/* Header */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}

.main-header{
    min-height: 10px;
    margin: auto;
    font-size: larger;
    text-align: center;
}

.jumbotron{
    text-align: center;
    min-height: 460px;
}

h1{
    margin: 100px auto 50px;
    font-size: 50px;
}

.text-header{
    line-height: 30px;
    text-align: center;
}

/* Header Button */

.download-button{
    margin-top: 30px;
    font-size: 1rem;
    padding: 15px 50px;
    border-radius: 25px;
    font-weight: 600;
}

.mac{
    background-color: white;
    color: black;
    margin-right: 30px;
}

.browser{
    background-color: black;
    color: white;
}

i{
    margin-right: 10px;
}

/* Main */

.large-box{
    flex-basis: 70%;
    background-repeat: no-repeat;
    min-height: 500px;
}

.server-image{
    background-image: url(../img/item1.svg);
}

.group-image{
    background-image: url(../img/item2.svg);
}

.fandom-image{
    background-image: url(../img/item3.svg);
}

.small-box{
    flex-basis: 30%;
    min-height: 500px;
} 

h2{
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 20px;
}

.text-section{
    line-height: 30px;
}

.square-green{
    flex-basis: 100%;
    background-color: green;
    min-height: 1000px;
}

/* Primary Footer */

.left-footer{
    flex-basis: 25%;
    min-height: 400px;
    background-color: lightsalmon;
}

.right-footer{
    flex-basis: 75%;
    min-height: 400px;
    background-color: lightskyblue;
    display: flex;
}

.col{
    flex-basis: 75%;
    min-height: 400px;
    background-color: lightskyblue;
    border: 2px dashed white;
}

/* Secondary Footer */

.secondary-footer{
    flex-basis: 100%;
    background-color: aqua;
    min-height: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button.left{
    margin-left: -12px;
}

.button.right{
    margin-right: -12px;
}